@use "./config/config.scss";
@use "./config/variaveis.scss";

.produtos {
    max-width: 640px;
    width: 100%;
    margin: 56px auto;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-column-gap: 1%;
}

.produto {
    border: 1px solid #ccc;
    padding: 8px;
    margin: 8px;

    &--destaque {
        border: 2px solid variaveis.$gold;
        background-color: variaveis.$cor1;
    }

    &__imagem {
        width: 100%;
    }

    &__nome {
        font-size: 1.2em;
        margin: 8px 0;
    }

    &__descricao {
        color: variaveis.$cor2;
    }
}