*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body > header{
    background-color: #2f3640;
    padding: 16px 0;
    color: white;
    font-size: 32px;
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header li{
    display: inline;
    width: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

header li a{
    color: white;
    font-size: 20px;
    text-decoration: none;
    margin-left: 16px;
}

.container{
    width: 1366px;
    margin: 0 auto;
}

.articles{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.articles article img{
    /*height: 180px;*/
    width: 100%;
}

.articles article{
    width: 30%;
}

section{
    padding: 16px 0;
}

section h2,
.articles article{
    margin-bottom: 16px;
}

.articles article h3{
    margin-top: 8px;
    margin-bottom: 8px;
}

.articles article a{
    color: white;
    background-color: blue;
    padding: 2px;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    margin-top: 8px;
}

.articles article a:hover{
    text-decoration: underline;
}

.articles article p{
    font-family: Arial, Helvetica, sans-serif;
}

.articles article h3{
    font-size: 24px
}

section h2{
    font-size: 32px;
}

#sports{
    background-color: rgba(0, 255, 0, 0.1);
}

#sports .articles article a{
    background-color: #009423;
    color: white;
}

#economy{
    background-color: lightblue;

}

#economy .articles article a{
    background-color: rgba(0, 0, 255, 0.5);
    color: white;
}