*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}

header{
    background-color: #182c61;
    color: white;
}

header nav li, footer li{
    display: inline;
    margin: 16px;
}

header h1,
section h2{
    font-weight: normal;
}

header nav li a{
    color: white;
    text-decoration: none;   
    font-size: 18px;
}

header .container,
section .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header,
section h2,
footer{
    font-family: 'Bungee', cursive;
}

.container{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

.brands img{
    height: 24px;
}

.brands li{
    display: inline;
    margin-right: 8px;
}

section .container{
    align-items: flex-start;
}

section {
    padding: 24px 0;
    color: #182c61;
}

section h2{
    margin-bottom: 16px;
}

section p{
    margin-bottom: 8px;
}

.store-front{
    margin-right: 32px;
}

#contact .container{
    display: block;
}

.contact img{
    display: flex;
    justify-content: space-between;
}

.social li{
    display: inline;
    margin-right: 8px;
}

.social li a{
    text-decoration:none;
}

.social img{
    height: 24px;
}

.facebook-img{
    margin-right: 113px;
}

.instagram-img{
    margin-right: 80px;
}

form input,
form textarea,
form button{
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 8px;
}

form textarea{
    resize: none;
    height: 180px;
}

form button{
    background-color: #182c61;
    color: white;
    border: none;
    cursor: pointer;
}

form button:hover{
    background-color: #3f6ef0;
}

input:focus, textarea:focus{
    outline-color: #182c61;
}

footer .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 274px;
}

footer{
    background-color: #182c61;
    color: white;
}

#contact{
    background-color: rgba(0, 0, 255, 0.2);
}

#about{
    background-color: rgba(0, 0, 255, 0.2);
}