*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #fffafa;
}

header .container{
    display: grid;
    width: 100vw;
    grid-template-columns: 2fr 3fr 1fr 1fr 1fr;
    background-color: #170b2a;
    color: white;
    font-family: 'Pixelify Sans', sans-serif;
    font-size: 20px;
    padding: 30px;
    padding-left: 170px;
    align-items: center;
}

header .container h1{
    cursor: default;
}

.search-div::after{
    content:"";
    width: 55%;
    height: 2px;
    background-color: #fff;
    display: block;
    margin-top: 3px;
}

.search{
    width: 400px;
    border: none;
    background-color: #170b2a;
    color: #fff;
    cursor: pointer;
    font-family: 'Pixelify Sans', sans-serif;
}

.search:focus{
    outline: none;
}

header .container a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}

header .container a:hover{
    text-decoration: underline;
}

header .container-1{
    display: grid;
    width: 100vw;
    grid-template-columns: 14% 18% 18% 18% 32%;
    background-color: #170b2a;
    color: white;
    padding: 10px;
    padding-left: 350px;
    font-family: 'Pixelify Sans', sans-serif;
    font-size: 20px;
}

header .container-1 a{
    color: #fff;
    text-decoration: none;
}