*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #fffafa;
    background-color: #7d93a6;
}

header .container{
    display: grid;
    width: 100vw;
    grid-template-columns: 2fr 3fr 0.7fr 1fr 1fr;
    background-color: #1f104f;
    color: white;
    font-family: 'Pixelify Sans', sans-serif;
    font-size: 20px;
    padding: 30px;
    padding-left: 170px;
    align-items: center;
}

header .container h1{
    cursor: default;
}

.search-div::after{
    content:"";
    width: 55%;
    height: 2px;
    background-color: #fff;
    display: block;
    margin-top: 3px;
}

.search{
    width: 400px;
    border: none;
    background-color: #1f104f;
    color: #fff;
    cursor: pointer;
    font-family: 'Pixelify Sans', sans-serif;
}

.search:focus{
    outline: none;
}

header .container a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}

header .container a:hover{
    text-decoration: underline;
}

header .container-1{
    display: grid;
    width: 100vw;
    grid-template-columns: 3% 10% 3.5% 14% 3% 12% 3% 11% 3% 30%;
    background-color: #1f104f;
    color: white;
    padding: 10px;
    padding-left: 375px;
    font-family: 'Pixelify Sans', sans-serif;
    font-size: 20px;
}

header .container-1 a{
    color: #fff;
    text-decoration: none;
}

.img-logo{
    width: 28px;
}

.img-play{
    width: 45px;
}

.Xbox:hover{
    text-decoration: underline;
}

.Play:hover{
    text-decoration: underline;
}

.Nintendo:hover{
    text-decoration: underline;
}

.PC:hover{
    text-decoration: underline;
}

.Info:hover{
    text-decoration: underline;
}