.container{
    max-width: 700px;
    width: 100%;
    padding: 20px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--blue);
    border-radius: 10px;
    margin-bottom: 25px;
}

.text{
    text-align: center;
    margin-bottom: 32px;

    h1{
        color: var(--blue);
    }

    h2{
        color: var(--laranja);
    }

    p{
        color: #666666;
    }
}

.form{
    height: max-content;
    width: 100%;
    div{
        display: flex;
        justify-content: space-between;
        align-items: center;
        div{
            display: flex;
            flex-direction: column;
            align-items: start;
            h4{
                color: var(--blue);
            }

            input{
                height: 50px;
                width: 300px;
                font-size: 17px;
                padding: 10px;
                margin-bottom: 20px;
                border: 2px solid var(--blue);
                color: #666666;
                border-radius: 10px;
                outline: none;
                transition: all .3s ease-in-out;

                &:focus{
                    border: 2px solid var(--laranja);
                }
            }
        }

        button{
            height: 50px;
            width: 300px;
            font-size: 20px;
            border: none;
            border-radius: 10px;
            color: #fff;
            background-color: var(--blue);
            cursor: pointer;
            transition: all .3s ease-in-out;

            &:hover{
                transform: scaleX(1.1);
            }
        }

        button:nth-of-type(2){
            background-color: var(--laranja);
        }

    }
}